[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Projet L3-S6 : Moteur de rendu SVG piloté par le réseau | Trello
Type=Link
URL=https://trello.com/b/GYfy0dOk/projet-l3-s6-moteur-de-rendu-svg-pilot%C3%A9-par-le-r%C3%A9seau
Icon=text-html
Name[fr_FR]=Suivi du projet | TRELLO
